$color_primary: #323edd;
$color_font: #2c3e50;
$color_dark: #202020;
$color_light: #f0f0f0;
$color_error: #a30000;
$header_height: 10rem;
$app_side_padding: 10rem;
$transition_default: 0.4s cubic-bezier(0.25, 1, 0.5, 1);
